/* app */
$app-bg: #c0dbff;
$nav-bg: #1f2532;

/* pokemon-details */
$details-bg: #4a90e2;
$details-border: 0.6em;
$base-stats-bg: #d8d8d8;
$moves-col0-bg: #4a90e2;
$moves-col1-bg: #94a2b1;
$moves-col2-bg: #be94e6;
$moves-col3-bg: #b8e986;

/* button */
$button-border: 0.6em;
$button-blue: #438bdf;
$button-orange: #e85b0e;

/* loader */
$loader-color: #666666;

/* pager */
$pager-bg: #606c78;
$pager-text-color: #f5f8fa;
$pager-caret-color: #94a2b1;

/* progressbar */
$progressbar-bg: #4a90e2;

/* pokemon */
$pokemon-border: 1em;
$pokemon-bg: #f2f1f1;

$type-bug: #a0da5e;
$type-dark: #707070;
$type-dragon: #53a4cf;
$type-electric: #eed535;
$type-fairy: #fdb9e9;
$type-fighting: #d56723;
$type-fire: #eb8751;
$type-flying: #b0b9c4;
$type-ghost: #7b62a3;
$type-grass: #dcf4c4;
$type-ground: #f7de3f;
$type-ice: #51c4e7;
$type-normal: #a4acaf;
$type-poison: #be93e7;
$type-psychic: #f366b9;
$type-rock: #a38c21;
$type-steel: #9EB7B4;
$type-water: #7cade6;
